body.woocommerce-cart {
	button[name="update_cart"] {
		display: none;
	}
	.includes_tax {
		display: none;
	}
	ul.shop_table {
		margin: 0;
		padding: 0;
		li {
			position: relative;
			> div {
				margin: 10px 0;
			}
			&:hover {
				background-color: rgba(112, 112, 112, 0.05);
				.product-remove {
					display: block;
				}
			}
			.product-thumbnail {
				img {
					border: solid 6px rgba(112, 112, 112, 0.2);
				}
			}
			.product-name {
				p {
					margin: 0;
					font-size: 20px;
					line-height: 1.2;
					text-align: left;
					a {
						color: @gris;
					}
					&.product_title {
						font-size: 24px;
						font-weight: bold;
						line-height: 1;
					}
				}
			}
			.product-quantity {
				div.quantity_chooser {
					.quantity_change {
						width: 30px;
						height: 30px;
						margin-right: 4px;
						&.increase_quantity {
							padding-top: 1px;
						}
					}
					.quantity_number {
						margin-right: 4px;
						width: 30px;
						height: 30px;
						background-color: @gris;
						font-size: 15px;
						font-weight: bold;
						line-height: 1.33;
						text-align: center;
					}
				}
			}
			.product-subtotal {
				font-size: 24px;
				line-height: 1.21;
				text-align: center;
			}
			.product-remove {
				display: none;
				background-color: rgba(112, 112, 112, 0.15);
				position: absolute;
				height: 100%;
				width: 58px;
				margin: 0;
				right: -58px;
				top: 0;
				a {
					display: block;
					position: relative;
					width: 100%;
					height: 100%;
					img {
						top: 50%;
						left: 50%;
						margin-left: -9px;
						margin-top: -9px;
						position: absolute;
					}
				}
			}
		}
	}
	.cart-collaterals {
		border-top: solid 1px #ebebeb;
		margin-top: 22px;
		padding-top: 12px;
		.shop_table {
			margin-bottom: 30px;
		}
		.order-total {
			color: @orange;
			font-size: 24px;
			line-height: 1.21;
			.cart_total_number {
				font-size: 30px;
				line-height: 1.23;
				font-weight: normal;
				strong {
					font-weight: normal;
				}
			}
			.ttc {
				text-align: right;
			}
		}
		.checkout-button {
			padding: 17px 63px;
			text-transform: none;
			&:after {
				width: 25px;
				height: 15px;
				content: "";
				position: absolute;
				background: url("@{images}arrow-right.png") no-repeat left center;
				top: 50%;
				margin-top: -7px;
				right: 30px;
			}
		}
		.free_shipping {
			opacity: 0.5;
			font-size: 20px;
			font-weight: 300;
			line-height: 1.2;
			text-align: center;
			margin-top: 17px;
		}
	}
}

@media (max-width: 1024px) {
	body.woocommerce-cart {
		ul.shop_table {
			li {
				.product-remove {
					display: block;
					position: absolute;
					height: 50px;
				}
			}
		}
		.cart-collaterals {
			.order-total {
				.ttc {
					text-align: center;
				}
			}
		}
	}
}

@media (max-width: 768px) {
	body.woocommerce-cart {
		ul.shop_table {
			li {
				text-align: center;
				.product-thumbnail img {
					width: 30%;
				}
				.product-name p {
					text-align: center;
				}
				.product-remove {
					top: 10px;
					right: 10%;
				}
			}
		}
		.cart-collaterals .checkout-button {
			padding-left: 20px;
			padding-right: 70px;
		}
	}
}

@media (max-width: 500px) {
	body.woocommerce-cart {
		ul.shop_table {
			li {
				.product-thumbnail img {
					width: 50%;
				}
			}
		}
	}
}