body.woocommerce-checkout {
	h1 {
		padding-bottom: 15px;
		border-bottom: solid 1px #dddddd;
	}
	h3 {
		font-size: 20px;
		font-weight: bold;
		line-height: 1.2;
		color: @orange;
	}
	h4 {
		font-size: 20px;
		font-weight: 300;
		line-height: 1.2;
		margin-top: 14px;
		color: @gris;
	}

	#children_schoolcity_field {
		margin-bottom: 0;
	}

	p.form_notice {
		font-size: 0.8em;
		color: #b1b1b1;
		margin-top: 10px;
		margin-bottom: 0;
	}

	.woocommerce-terms-and-conditions {
		margin-bottom: 10px;
	}

	.school_recap {
		display: none;
		p {
			font-size: 18px;
			font-weight: 300;
			line-height: 1.17;
			color: @orange;
			margin: 0;
			&.name {
				font-weight: bold;
			}
		}
	}

	.sidebar_order_review {
		padding-top: 100px;
		background: #f7f7f7;
		padding-bottom: 20px;
		h3 {
			font-size: 24px;
			font-weight: 300;
			line-height: 1.21;
			color: @gris;
			border-bottom: 1px solid #d9d9d9;
			padding-bottom: 11px;
		}
		.product_desc {
			margin-bottom: 35px;
			.product-thumbnail {
				img {
					border: solid 6px rgba(112, 112, 112, 0.2);
				}
			}
			p {
				color: #707070;
				line-height: 1.2;
				font-size: 20px;
				margin: 0;
				&.product_title {
					font-size: 24px;
					font-weight: bold;
					line-height: 1;
				}
				&.product_quantity {
					font-size: 18px;
					line-height: 1.61;
				}
				&.product_price {
					font-size: 24px;
					line-height: 1.21;
				}
			}
		}
		.cart_amount {
			hr {
				background: rgba(112, 112, 112, 0.25);
				height: 1px;
				width: 100%;
				display: block;
				margin: 0;
				margin-bottom: 16px;
			}
			> div {
				margin: 5px 0;
				font-size: 18px;
				line-height: 1.22;
			}
			.cart_subtotals {
				.tax_label {
					display: none;
				}
			}
			.cart_total {
				font-size: 24px;
				line-height: 1.21;
				color: @orange;
				.includes_tax {
					display: none;
				}
				.amount {
					font-size: 30px;
					line-height: 1.23;
				}
			}
		}
		.school_recap {
			margin-top: 55px;
			display: block;
			h3 {
				padding-bottom: 18px;
				margin-bottom: 18px;
			}
		}
	}
	#payment {
		.place-order {
			padding-bottom: 40px;
		}
		ul.wc_payment_methods.payment_methods.methods {
			border-top: solid 1px #eaeaea;
			margin: 0;
			padding: 0;
			margin-top: 27px;
			padding-top: 27px;
			text-align: center;
			li.wc_payment_method.payment_method_payzenstd {
				list-style-type: none;
				label {
					display: block;
					font-size: 16px;
					line-height: 1.19;
					text-align: center;
					img {
						display: none;
					}
				}
			}
		}
		.woocommerce-privacy-policy-text {
			display: none;
		}
		button.pay-order {
			margin: auto;
			&:after {
				content: "";
				width: 16px;
				height: 6px;
				position: relative;
				background: url("@{images}arrow-right.png") no-repeat left center;
				background-size: 60%;
				top: -2px;
				display: inline-block;
				margin-left: 9px;
			}
		}
	}

	.payzen-iframe {
		width: 100%;
		height: 500px;
		border: none;
		padding: 10px;
		background: whitesmoke;
	}

	ul.woocommerce-order-overview {
		margin-left: 0;
		padding-left: 20px;
	}
	.woocommerce-customer-details {
		p {
			margin-bottom: 0;
		}
	}
}

@media (max-width: 1024px) {
	body.woocommerce-checkout {
		.see_order_review {
			display: block;
			margin-top: 10px;
		}
		.sidebar_order_review {
			padding-top: 20px;
			h3 {
				margin-bottom: 30px;
			}
		}
	}
}