body.page-template-template-contact {
	header.page-header {
		margin: 50px 0;
	}
	h1, h2 {
		width: 70%;
	}
	.infos {
		div {
			padding-left: 40px;
			position: relative;
			margin-top: 30px;
			&:before {
				content: "";
				background: url("@{images}icon_page_contact.png") no-repeat;
				display: block;
				position: absolute;
				left: 0;
			}
			&.adresse {
				&:before {
					width: 18px;
					height: 25px;
				}
			}
			&.telephone {
				&:before {
					width: 20px;
					height: 21px;
					background-position: -18px 0;
				}
			}
			&.email {
				&:before {
					width: 20px;
					height: 14px;
					background-position: -38px 0;
				}
			}
			p {
				color: @orange;
				margin: 0;
				font-size: 16px;
				line-height: 1.5;
				&.black {
					color: @gris;
				}
			}
		}
	}
	.alert {
		padding-left: 0;
		ul {
			margin-left: 0;
			margin-bottom: 0;
		}
	}
	.form {
		.btn[type="submit"] {
			width: 100%;
		}
	}
	.faq_title {
		margin-top: 60px;
		margin-bottom: 50px;
		span.info {
			margin: auto;
			background: url("@{images}icon_info.png") no-repeat center center;
			width: 33px;
			height: 33px;
			display: block;
			position: relative;
			margin-bottom: 24px;
			&:before, &:after {
				content: "";
				display: block;
				position: absolute;
				width: 33px;
				height: 1px;
				background: @gris;
				top: 50%;
			}
			&:before {
				left: -53px;
			}
			&:after {
				left: 53px;
			}
		}
	}
	.faq_cont {
		background: #f7f7f7;
		margin-top: 81px;
		.question {
			.border-radius(20px);
			background-color: rgba(243, 146, 0, 0.1);
			padding: 32px 56px 27px 103px;
			margin-bottom: 40px;
			strong {
				color: @orange;
			}
			h3 {
				font-size: 24px;
				font-weight: bold;
				line-height: 0.92;
				position: relative;
				color: @orange;
				margin-bottom: 30px;
				&:before {
					content: "";
					width: 40px;
					height: 40px;
					position: absolute;
					left: -75px;
					background: url("@{images}question.png") no-repeat left center;
				}
			}
			.answer {
				font-size: 18px;
				line-height: 1.22;
				color: @gris;
			}
		}
	}
	@media only screen and (max-width: 1024px) {
		.infos {
			a {
				display: block;
				text-align: center;
				img {
					margin: auto;
					margin-top: 25px;
				}
			}
			div {
				text-align: center;
				margin-bottom: 30px;
				padding-left: 0;
				&:before {
					left: auto;
					margin: auto;
					margin-bottom: 10px;
					position: relative;
				}
			}
		}
		.faq_cont {
			margin-top: 30px;
			.faq_title {
				margin-top: 30px;
			}
			.question {
				padding-left: 15px;
				padding-right: 15px;
				padding-top: 100px;
				h3 {
					&:before {
						background-position: center center;
						left: 0;
						right: 0;
						margin: auto;
						top: -70px;
					}
				}
			}
		}
	}
	@media only screen and (min-width: 1024px) {
		.form {
			padding-left: 80px;
		}
	}
}
