body.home {
	.content_top_home {
		background: url("@{images}home_background.jpg") no-repeat;
		background-size: cover;
		width: 100%;
		padding-bottom: 20px;
		position: relative;
		margin-bottom: 50px;
		.categories_list .category_box {
			background: none;
			border-top: none;
			span.title {
				font-weight: bold;
			}
		}
		&:before {
			content: "";
			width: 100%;
			height: 35px;
			display: block;
			background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(244,249,252,1) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(244,249,252,1) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(244,249,252,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#f4f9fc',GradientType=0 ); /* IE6-9 */
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
		}
		&:after {
			content: "";
			width: 157px;
			height: 35px;
			display: block;
			background: url("@{images}bottom_home_background.png") no-repeat;
			position: absolute;
			bottom: -34px;
			left: 0;
			right: 0;
			margin: auto;
		}
		h1 {
			font-size: 50px;
			font-weight: bold;
			line-height: 0.6;
			color: @orange;
			margin-top: 40px;
			width: 80%;
			span {
				display: block;
				font-size: 25px;
				font-weight: normal;
				line-height: 1.2;
				color: @gris;
				margin-top: 10px;
				&:before {
					display: none;
				}
			}
		}
	}
	.steps {
		#carouselFrontpageSteps {
			.carousel-item {
				margin-top: 40px;
			}
			.carousel-controls {
				display: none;
				height: 88px;
				width: 88px;
				.border-radius(200px);
				background: rgba(255, 255, 255, 0.5);
				margin-top: 80px;
				&.carousel-control-prev {
					margin-left: -56px;
					box-shadow: 3px 0 6px 0 rgba(0, 0, 0, 0.16);
					span.carousel-control-prev-icon {
						margin-right: -50px;
						background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23707070' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");;
						margin-top: 35px;
					}
				}
				&.carousel-control-next {
					margin-right: -56px;
					box-shadow: -3px 0 6px 0 rgba(0, 0, 0, 0.16);
					span.carousel-control-next-icon {
						margin-left: -50px;
						background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23707070' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
						margin-top: 35px;
					}
				}
			}
			.illus {
				display: block;
				width: 180px;
				height: 180px;
				background: @orange;
				color: #fff;
				margin: auto;
				.border-radius(100%);
				box-shadow: 0 -20px 30px 0 rgba(152, 152, 152, 0.1);
				padding-top: 32px;
				font-size: 30px;
				line-height: 1.23;
				img {
					display: block;
					margin: auto;
					margin-bottom: 10px;
				}
			}
			.desc {
				margin: 29px auto 0 auto;
				font-size: 17px;
				line-height: 1.17;
				span {
					display: block;
					font-weight: bold;
					color: @orange;
				}
			}
		}
	}
	.info_box {
		padding: 23px 29px;
		margin-top: 30px;
		font-size: 20px;
		.border-radius(20px);
		line-height: 1.2;
		background: #fdf3e4;
		margin-bottom: 20px;
		.text {
			background: url("@{images}check_mark_icon.png") no-repeat left center;
			padding-left: 82px;
		}
	}
}

@media (max-width: 1024px) {
	body.home {
		.content_top_home {
			background-size: cover;
			background-position-x: 50%;
			h1 {
				font-size: 36px;
				line-height: 1;
				span {
					font-size: 22px;
					line-height: 1.23;
				}
			}

		}
		.content_bottom_home {
			.steps {
				overflow: hidden;
				padding-left: 0;
				padding-right: 0;
				#carouselFrontpageSteps {
					.carousel-inner {
						margin: 0;
					}
					.carousel-controls {
						display: block;
					}
				}
			}
		}
		.info_box {
			padding-top: 0;
			.text {
				margin-top: 30px;
				background-position: top center;
				padding-left: 0;
				padding-top: 75px;
				text-align: center;
			}
		}
	}
}

@media (min-width: 1024px) {
	body.home {
		.steps {
			#carouselFrontpageSteps {
				.carousel-inner {
					width: auto;
					.carousel-item {
						display: block;
					}
				}
			}
		}
	}
}