div.modal {
	&#modalShopInactive {
		.modal-dialog {
			.modal-content {
				.content {
					p {
						margin-bottom: 10px;
					}
				}
			}
		}
	}
	.modal-dialog {
		.modal-content {
			border-radius: 0;
			border: solid 10px rgba(1, 188, 241, 0.2);
			.modal-header {
				border-radius: 0;
				background: @bleuclair;
				h5.modal-title {
					color: #fff;
					font-size: 30px;
					line-height: 1.23;
					margin: auto;
					display: block;
				}
			}
			.modal-body {
				overflow: hidden;
				.image {
					overflow: hidden;
					img {
						border: solid 6px rgba(112, 112, 112, 0.2);
						height:auto;
						overflow: hidden;
					}
				}
				.content {
					p {
						margin: 0;
						font-size: 20px;
						line-height: 1.2;
						color: @gris;
						text-align: left;
						&.product_title {
							font-size: 24px;
							font-weight: bold;
							line-height: 1;
						}
						&.product_cat {
							a, &:visited, &:hover {
								color: #707070;
								text-decoration: none;
							}
						}
					}
				}
			}
			.modal-footer {
				border-radius: 0;
				background: #f7f7f7;
				padding: 28px 52px;
				border: none;
				> .row {
					margin: auto;
					width: 100%;
					.btn {
						text-transform: none;
						margin: 0 auto;
						height: 100%;
						line-height: 26px;
						&.return {
							background-color: rgba(112, 112, 112, 0.2);
							font-size: 18px;
							font-weight: 300;
							line-height: 1.17;
							color: #004c64;
							padding-left: 50px;
							border: none;
							position: relative;
							padding-top: 20px;
							&:before {
								width: 22px;
								height: 22px;
								content: "";
								position: absolute;
								background: url("@{images}arrow-back-blue.png") no-repeat left center;
								margin-left: -32px;
								margin-top: -3px;
							}
						}
					}
				}
			}
		}
	}
}

.modal-backdrop {
	background: rgb(0, 76, 100);
	&.show {
		opacity: .9;
	}
}

@media (min-width: 576px) {
	.modal-dialog {
		max-width: 795px;
	}
}

@media (max-width: 1023px) {
	div.modal {
		.modal-dialog {
			.modal-content {
				.modal-body {
					.image img {
						width: 70%;
					}
					.content p {
						text-align: center;
					}
				}
				.modal-footer {
					padding-left: 0;
					padding-right: 0;
					> .row {
						a.btn {
							margin-top: 30px;
							height: auto;
						}
					}
				}
			}
		}
	}
}