@bleuclair: #01bcf1;
@bleuplusclair: #65b2cf;
@orange: #f39200;
@gris: #707070;
@images: '../images/';

@import "./home.less";
@import "./product-category.less";
@import "./cart.less";
@import "./checkout.less";
@import "./page.less";
@import "./contact.less";
@import "./modal.less";

a {
	color: @orange;
	&:visited, &:hover {
		color: @orange;
	}
}

h1, h2 {
	color: @orange;
	font-size: 30px;
	font-weight: bold;
	line-height: 30px;
	text-align: center;
	width: 38%;
	margin: auto;
	margin-top: 10px;
	span {
		font-weight: 300;
		color: #533f29;
		display: block;
		font-size: 16px;
		line-height: 22px;
		margin: auto;
		&:before {
			content: "";
			position: relative;
			display: block;
			width: 40px;
			border-top: solid 2px @gris;
			left: 0;
			right: 0;
			margin: 20px auto;
		}
	}
	&.single {
		padding: 0;
		padding-bottom: 15px;
		border-bottom: solid 1px #dddddd;
		text-align: left;
		margin: 20px 0;
		font-size: 30px;
		font-weight: 300;
		font-stretch: normal;
		line-height: 1.2;
		color: @gris;
		width: 100%;
	}
}

form {
	label {
		display: none;
		&.checkbox {
			display: block;
			margin: auto;
		}
	}
	.form-control:focus {
		border-color: @orange;
		box-shadow: 0 0 0 0.1rem rgba(243, 146, 0, 0.25);
	}
	::placeholder {
		color: rgba(110, 110, 110, 0.3) !important;
	}
	::-webkit-input-placeholder {
		color: rgba(110, 110, 110, 0.3) !important;
	}
	::-moz-placeholder {
		color: rgba(110, 110, 110, 0.3) !important;
	}
	:-ms-input-placeholder {
		color: rgba(110, 110, 110, 0.3) !important;
	}
	:-moz-placeholder {
		color: rgba(110, 110, 110, 0.3) !important;
	}
	.woocommerce-input-wrapper {
		display: block;
		width: 100%;
	}
	.form-group {
		width: 100%;
	}
	#clear_selection {
		float: right;
		font-size: 15px;
		margin-top: 5px;
		cursor: pointer;
		&:hover {
			color: @orange;
		}
	}
	.form-control {
		.border-radius(5px);
		background-color: #fbfbfb;
		border: solid 1px #dfdfdf;
		padding: 17px;
		height: 100%;
	}
	.form-row.woocommerce-invalid:not(#children_schoolcity_field):not(#children_schoolcp_field) {
		input.input-text, span.select2-selection {
			box-shadow: none;
			background-color: #fff4f4;
			border: solid 1px #ffc5c5;
		}
		span.woocommerce-terms-and-conditions-checkbox-text {
			color: #dc3545;
		}
	}
	.form-row.woocommerce-validated:not(#children_schoolcity_field):not(#children_schoolcp_field) {
		input.input-text, span.select2-selection {
			box-shadow: none;
			background-color: #f2fafe;
			border: solid 1px #cef1fb;
		}
		span.woocommerce-terms-and-conditions-checkbox-text {
			color: #28a745;
		}
	}
	.select2-container .select2-selection, .select2-selection__arrow {
		background-color: #fbfbfb;
		height: 53px;
		border: solid 1px #dfdfdf;
		.select2-selection__rendered {
			line-height: 50px;
		}
		&.select2-selection__arrow {
			background: transparent;
			border: none;
			top: 50% !important;
			margin-top: -13px;
		}
	}
	.woocommerce-terms-and-conditions-wrapper {
		margin-top: 10px;
	}
}

.align-center {
	text-align: center;
}

.align-right {
	text-align: right;
}

.relative {
	position: relative;
}

.border-radius(@radius) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	border-radius: @radius;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}

.transition(@transition) {
	-moz-transition: @transition;
	-webkit-transition: @transition;
	-o-transition: @transition;
	transition: @transition;
}

.btn {
	text-transform: uppercase;
	color: #fff;
	display: inline-block;
	font-size: 18px;
	margin-top: 20px;
	font-weight: 600;
	line-height: 1.2;
	padding: 13px 28px;
	.border-radius(50px);
	position: relative;
	text-align: center;
	&:visited, &:hover, &:active, &:focus {
		color: #fff;
	}
	&.lowercase {
		text-transform: none;
	}
	&.blue {
		background: @bleuclair;
	}
	&.orange {
		background: @orange;
	}
	&.add_to_cart_button {
		&:before {
			content: "";
			width: 17px;
			height: 17px;
			position: relative;
			background: url("@{images}cart-full.png") no-repeat left center;
			background-size: 100%;
			margin-top: 2px;
			display: inline-block;
			margin-right: 9px;
		}
	}
}

ul.shopping_breadcrumb {
	font-size: 16px;
	line-height: 1.19;
	color: rgba(112, 112, 112, 0.5);
	margin: 0;
	padding: 0;
	margin-top: 50px;
	li {
		display: inline-block;
		a {
			color: rgba(112, 112, 112, 0.5);
			&:hover {
				color: @orange;
			}
		}
		&.active {
			color: @orange;
			a {
				color: @orange;
			}
		}
		span {
			color: rgba(112, 112, 112, 0.5);
			display: inline-block;
			margin: 0 20px;
		}
	}
}

ul.woocommerce-error {
	list-style-type: none;
	padding: 0;
	margin: 20px 0;
	width: 100%;
	li {
		list-style-type: disc;
		display: list-item;
		padding: 5px 10px;
		margin: 0;
		margin-left: 30px;
		&.alone {
			list-style-type: none;
			margin-left: 0;
		}
		.button.wc-forward {
			display: inline-block;
			background: #fdc0c5;
			border: solid 1px #fba9af;
			padding: 5px 10px;
			color: #721c24;
			&:hover {
				text-decoration: none;
				background: #fba9af;
				border-color: #fff;
			}
		}
	}
}

div.woocommerce-info {
	padding: 10px;
	background: #28a745;
	color: #fff;
}

a.tooltip_icon {
	display: inline-block;
	width: 25px;
	height: 25px;
	background: url("@{images}tooltip_helper.png") no-repeat left center;
	vertical-align: middle;
	margin-left: 10px;
	margin-top: -5px;
}

.tooltip {
	&.show {
		opacity: 1;
	}
	&.bs-tooltip-top, &.bs-tooltip-bottom {
		.arrow {
			&:before {
				border-top-color: #fff;
				border-bottom-color: #fff;
			}
		}
	}
	&.bs-tooltip-left, &.bs-tooltip-right {
		.arrow {
			&:before {
				border-right-color: #fff;
				border-left-color: #fff;
			}
		}
	}
	.tooltip-inner {
		max-width: 460px;
		background: #fff;
		color: @gris;
		box-shadow: 0 5px 30px 0 rgba(69, 91, 99, 0.15);
		.border-radius(12px);
		padding: 24px 37px;
		text-align: left;
		font-size: 16px;
		font-weight: 300;
		line-height: 1.19;
		a {
			color: @orange;
		}
	}
}

.continue_shopping {
	margin-left: 30px;
	a {
		color: #fff;
		position: relative;
		padding-left: 43px;
		margin-top: 27px;
		display: block;
		&:before {
			width: 22px;
			height: 22px;
			content: "";
			position: absolute;
			background: url("@{images}arrow-back.png") no-repeat left center;
			left: 0;
			top: -2px;
		}
	}
}

div.quantity_chooser {
	.quantity_change {
		vertical-align: middle;
		display: inline-block;
		width: 40px;
		height: 40px;
		background: #d9d3ca;
		.border-radius(50px);
		color: #fff;
		padding: 0;
		font-weight: bold;
		font-size: 30px;
		&.increase_quantity {
			padding-top: 4px;
		}
	}
	.quantity_number {
		vertical-align: middle;
		color: #fff;
		background: @orange;
		.border-radius(50px);
		padding: 0;
		font-size: 21px;
		line-height: 1.33;
		font-weight: bold;
		display: inline-block;
		width: 40px;
		height: 40px;
		padding-top: 6px;
	}
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	line-height: 1.19;
	color: @gris;
	header {
		.site-branding {
			height: 76px;
			background: @bleuclair;
			color: #fff;
			.logo_sedrap, .social {
				margin-top: 24px;
			}
			.logo_sedrap {
				padding-left: 20px;
			}
			.logo_moijelis {
				margin-top: 10px;
			}
			.social {
				padding-right: 20px;
				a {
					display: inline-block;
					svg {
						width: 30px;
						height: 30px;
						display: block;
						path {
							fill: #fff !important;
						}
					}
				}
			}
		}
		.menu-toggle {
			background: none;
			border: 0;
			font-size: 25px;
			line-height: 1.48;
			color: #ffffff;
			position: relative;
			padding-left: 35px;
			margin-top: 25px;
			&:focus {
				outline: none;
			}
			span {
				font-size: 35px;
				vertical-align: middle;
				display: block;
				position: absolute;
				left: 0;
			}
		}
		nav {
			height: 76px;
			background: #10779e;
			color: #fff;
			ul {
				margin-top: 41px;
				list-style-type: none;
				li {
					list-style-type: none;
					display: inline-block;
					margin-left: 20px;
					text-transform: uppercase;
					&:first-child {
						.sep {
							display: none;
						}
					}
					&.current_page_item, &.current-menu-item {
						a, a:visited, a:hover {
							color: @bleuclair;
						}
					}
					a {
						color: #fff;
						font-size: 16px;
						line-height: 16px;
						&:hover {
							color: @bleuclair;
							text-decoration: none;
							&:visited {
								color: @bleuclair;
							}
						}
						&:visited {
							color: #fff;
						}
					}
					.sep {
						margin-right: 20px;
					}
				}
			}
			.cart_icon {
				margin-top: 23px;
				padding-right: 25px;
				position: relative;
				.cart_count {
					display: block;
					width: 23px;
					height: 23px;
					background: @orange;
					color: #fff;
					.border-radius(100px);
					font-size: 14px;
					font-weight: bold;
					line-height: 1.59;
					text-align: center;
					position: absolute;
					bottom: 21px;
					right: 15px;
					top: 19px;
				}
			}
		}
	}
	footer {
		background: #004c64;
		padding-top: 43px;
		color: @bleuplusclair;
		h3 {
			color: #fff;
			font-size: 30px;
			font-weight: bold;
			line-height: 0.7;
			&:after {
				content: "";
				position: relative;
				display: block;
				width: 40px;
				border-top: solid 2px @bleuplusclair;
				left: 0;
				right: 0;
				margin: 20px auto;
			}
			span {
				text-transform: uppercase;
				font-weight: 300;
				color: @bleuplusclair;
				display: block;
				font-size: 18px;
				line-height: 1.17;
				margin-bottom: 3px;
			}
		}
		p {
			font-size: 18px;
			line-height: 1.17;
			color: #92d5ee;
			&.important {
				font-size: 18px;
				line-height: 21px;
				font-weight: bold;
				color: #ffffff;
			}
		}
		.company_infos {
			padding-bottom: 48px;
			margin: auto;
			width: 100%;
		}
		.footer_menu {
			background: #10779e;
			width: 100%;
			padding: 25px 0;
			#menu-footer {
				list-style-type: none;
				margin: 0;
				padding: 0;
				text-transform: uppercase;
				li {
					list-style-type: none;
					display: inline-block;
					margin-left: 10px;
					margin-right: 10px;
					color: #ffffff;
					&:first-child {
						.sep {
							display: none;
						}
					}
					a, a:visited {
						font-size: 18px;
						line-height: 1.44;
						color: #ffffff;
					}
					.sep {
						margin-right: 20px;
					}
				}
			}
		}
		.legal_infos {
			width: 100%;
			padding: 20px 0;
			p {
				font-size: 18px;
				line-height: 1.44;
				color: @bleuplusclair;
				margin-bottom: 2px;
				a, a:visited {
					color: @bleuplusclair;
				}
			}
			.social {
				margin: 10px 0;
				a {
					display: inline-block;
					margin: 0 5px;
					svg {
						width: 30px;
						height: 30px;
						display: block;
					}
				}
			}
		}
	}
	.categories_list {
		margin: auto;
		width: fit-content;
		margin-top: 20px;
		margin-bottom: 45px;
		.category_box {
			width: 278px;
			max-width: 278px;
			.border-radius(0 0 10px 10px);
			background-image: linear-gradient(to bottom, #f3f3f3, #fff);
			border-top: solid 8px @bleuclair;
			font-size: 20px;
			line-height: 1.1;
			margin: 0 4px;
			display: inline-block;
			img {
				display: block;
				margin: auto;
				margin-top: 23px;
				width: 100%;
			}
			span {
				display: block;
				margin: 3px 0;
				&.title {
					color: @bleuclair;
				}
				&.desc {
					color: @gris;
				}
				&.woocommerce-Price-amount {
					color: @orange;
					font-size: 24px;
					font-weight: bold;
					line-height: 0.92;
				}
				&.woocommerce-Price-currencySymbol {
					display: inline-block;
				}
			}
		}
	}
}

@media (max-width: 1024px) {
	body {
		h1, h2 {
			width: 100% !important;
			span {
				width: 90% !important;
			}
		}
		.no-padding-mobile {
			padding: 0;
		}
		.continue_shopping {
			margin-top: 20px;
			margin-left: 0;
			a {
				padding-left: 33px;
			}
		}
		.tooltip {
			.tooltip-inner {
				width: 90%;
				padding: 24px 20px;
				margin: auto;
			}
		}
		ul.shopping_breadcrumb {
			margin-top: 20px;
			li {
				margin-bottom: 5px;
				span {
					margin: 0 5px;
				}
			}
		}
		form {
			#clear_selection {
				float: none;
				display: block;
			}
		}
		header {
			#site-navigation {
				height: 93px;
				.menu_cont {
					position: absolute;
					top: 100%;
					ul {
						position: fixed;
						background: #004c64;
						width: 100%;
						left: 0;
						margin: 0;
						height: 0;
						z-index: 9999;
						padding: 0;
						overflow: hidden;
						.transition(height 0.3s ease);
						li {
							font-size: 28px;
							font-weight: 300;
							line-height: 1.8;
							text-align: center;
							color: #ffffff;
							display: block;
							padding-left: 0;
							margin-left: 0;
							&:first-child {
								margin-top: 30px;
							}
							.sep {
								display: none;
							}
						}
						&.open {
							height: 100%;
						}
					}
				}
				.cart_icon {
					margin-top: 40px;
				}
			}
		}
		.btn {
			font-size: 14px;
		}
		.categories_list .category_box {
			float: none;
			padding-bottom: 30px;
			width: auto;
		}
		footer {
			.company_infos {
				padding-bottom: 20px;
			}
		}
	}
}

@media (max-width: 1024px) and (max-height: 568px) {
	body {
		header #site-navigation .menu_cont ul li {
			font-size: 20px;
			&:first-child {
				margin-top: 10px;
			}
		}
	}
}


@media (min-width: 1200px) {
	.container {
		max-width: 1440px
	}
}
