body.tax-product_cat {
	.woocommerce-products-header {
		margin-top: 50px;
		margin-bottom: 30px;
		text-transform: uppercase;
		h1 {
			width: 55%;
			text-transform: none;
		}
	}
	ul.products {
		margin: 0;
		padding: 0;
		li.product.type-product {
			.product_infos_left {
				border-top: solid 8px @bleuclair;
				background-image: linear-gradient(to bottom, #dbf7ff, #ffffff);
				padding: 24px 35px;
				h2.woocommerce-loop-product__title {
					color: @bleuclair;
					font-size: 26px;
					font-weight: bold;
					line-height: 0.85;
					margin: 0;
					text-align: left;
					width: 100%;
				}
				.woocommerce-loop-product__author {
					font-size: 20px;
					line-height: 1.1;
					color: @bleuclair;
				}
				.woocommerce-loop-product__description {
					font-size: 18px;
					line-height: 1.22;
				}
			}
			.product_infos_right {
				border-top: solid 8px @orange;
				background-image: linear-gradient(to bottom, #f9f2e8, #ffffff);
				padding: 34px 22px;
				.woocommerce-loop-product__cat {
					font-size: 20px;
					line-height: 1.2;
					color: @orange;
					a:visited {
						color: @orange;
					}
				}
				.woocommerce-loop-product__tag {
					font-size: 20px;
					line-height: 1.2;
				}
				.price {
					margin: 10px 0;
					font-size: 30px;
					font-weight: bold;
					line-height: 1.2;
					color: @orange;
					display: block;
				}
				.added_to_cart.wc-forward {
					display: none;
				}
			}
		}
	}
	.cat_description_bottom {
		background: url("@{images}exclamation_icon.png") no-repeat 23px center rgba(243, 146, 0, 0.1);
		padding: 23px 23px 12px 103px;
		.border-radius(20px);
		font-size: 18px;
		line-height: 1.22;
		margin-bottom: 70px;
	}
}

@media (max-width: 1023px) {
	body.tax-product_cat {
		ul.products {
			li.product.type-product {
				.product_infos_left {
					text-align: center;
					padding-bottom: 0;
					img {
						width: 70%;
						margin: auto;
					}
					h2.woocommerce-loop-product__title {
						text-align: center;
						margin-top: 18px;
					}
				}
				.product_infos_right {
					padding-top: 0;
					padding-bottom: 50px;
					border-top: 0;
					background-image: linear-gradient(to top, #f9f2e8, #ffffff);
				}
			}
		}
		.cat_description_bottom {
			margin-top: 41px;
			padding-bottom: 40px;
			margin-bottom: 40px;
			padding-left: 23px;
			padding-top: 104px;
			background-position: center 23px;
			text-align: center;
		}
	}
}