body.home .content_top_home {
  background: url("../images/home_background.jpg") no-repeat;
  background-size: cover;
  width: 100%;
  padding-bottom: 20px;
  position: relative;
  margin-bottom: 50px;
}
body.home .content_top_home .categories_list .category_box {
  background: none;
  border-top: none;
}
body.home .content_top_home .categories_list .category_box span.title {
  font-weight: bold;
}
body.home .content_top_home:before {
  content: "";
  width: 100%;
  height: 35px;
  display: block;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #f4f9fc 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #f4f9fc 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #f4f9fc 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#f4f9fc', GradientType=0);
  /* IE6-9 */
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
body.home .content_top_home:after {
  content: "";
  width: 157px;
  height: 35px;
  display: block;
  background: url("../images/bottom_home_background.png") no-repeat;
  position: absolute;
  bottom: -34px;
  left: 0;
  right: 0;
  margin: auto;
}
body.home .content_top_home h1 {
  font-size: 50px;
  font-weight: bold;
  line-height: 0.6;
  color: #f39200;
  margin-top: 40px;
  width: 80%;
}
body.home .content_top_home h1 span {
  display: block;
  font-size: 25px;
  font-weight: normal;
  line-height: 1.2;
  color: #707070;
  margin-top: 10px;
}
body.home .content_top_home h1 span:before {
  display: none;
}
body.home .steps #carouselFrontpageSteps .carousel-item {
  margin-top: 40px;
}
body.home .steps #carouselFrontpageSteps .carousel-controls {
  display: none;
  height: 88px;
  width: 88px;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background: rgba(255, 255, 255, 0.5);
  margin-top: 80px;
}
body.home .steps #carouselFrontpageSteps .carousel-controls.carousel-control-prev {
  margin-left: -56px;
  box-shadow: 3px 0 6px 0 rgba(0, 0, 0, 0.16);
}
body.home .steps #carouselFrontpageSteps .carousel-controls.carousel-control-prev span.carousel-control-prev-icon {
  margin-right: -50px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23707070' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  margin-top: 35px;
}
body.home .steps #carouselFrontpageSteps .carousel-controls.carousel-control-next {
  margin-right: -56px;
  box-shadow: -3px 0 6px 0 rgba(0, 0, 0, 0.16);
}
body.home .steps #carouselFrontpageSteps .carousel-controls.carousel-control-next span.carousel-control-next-icon {
  margin-left: -50px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23707070' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  margin-top: 35px;
}
body.home .steps #carouselFrontpageSteps .illus {
  display: block;
  width: 180px;
  height: 180px;
  background: #f39200;
  color: #fff;
  margin: auto;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  box-shadow: 0 -20px 30px 0 rgba(152, 152, 152, 0.1);
  padding-top: 32px;
  font-size: 30px;
  line-height: 1.23;
}
body.home .steps #carouselFrontpageSteps .illus img {
  display: block;
  margin: auto;
  margin-bottom: 10px;
}
body.home .steps #carouselFrontpageSteps .desc {
  margin: 29px auto 0 auto;
  font-size: 17px;
  line-height: 1.17;
}
body.home .steps #carouselFrontpageSteps .desc span {
  display: block;
  font-weight: bold;
  color: #f39200;
}
body.home .info_box {
  padding: 23px 29px;
  margin-top: 30px;
  font-size: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  line-height: 1.2;
  background: #fdf3e4;
  margin-bottom: 20px;
}
body.home .info_box .text {
  background: url("../images/check_mark_icon.png") no-repeat left center;
  padding-left: 82px;
}
@media (max-width: 1024px) {
  body.home .content_top_home {
    background-size: cover;
    background-position-x: 50%;
  }
  body.home .content_top_home h1 {
    font-size: 36px;
    line-height: 1;
  }
  body.home .content_top_home h1 span {
    font-size: 22px;
    line-height: 1.23;
  }
  body.home .content_bottom_home .steps {
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
  }
  body.home .content_bottom_home .steps #carouselFrontpageSteps .carousel-inner {
    margin: 0;
  }
  body.home .content_bottom_home .steps #carouselFrontpageSteps .carousel-controls {
    display: block;
  }
  body.home .info_box {
    padding-top: 0;
  }
  body.home .info_box .text {
    margin-top: 30px;
    background-position: top center;
    padding-left: 0;
    padding-top: 75px;
    text-align: center;
  }
}
@media (min-width: 1024px) {
  body.home .steps #carouselFrontpageSteps .carousel-inner {
    width: auto;
  }
  body.home .steps #carouselFrontpageSteps .carousel-inner .carousel-item {
    display: block;
  }
}
body.tax-product_cat .woocommerce-products-header {
  margin-top: 50px;
  margin-bottom: 30px;
  text-transform: uppercase;
}
body.tax-product_cat .woocommerce-products-header h1 {
  width: 55%;
  text-transform: none;
}
body.tax-product_cat ul.products {
  margin: 0;
  padding: 0;
}
body.tax-product_cat ul.products li.product.type-product .product_infos_left {
  border-top: solid 8px #01bcf1;
  background-image: linear-gradient(to bottom, #dbf7ff, #ffffff);
  padding: 24px 35px;
}
body.tax-product_cat ul.products li.product.type-product .product_infos_left h2.woocommerce-loop-product__title {
  color: #01bcf1;
  font-size: 26px;
  font-weight: bold;
  line-height: 0.85;
  margin: 0;
  text-align: left;
  width: 100%;
}
body.tax-product_cat ul.products li.product.type-product .product_infos_left .woocommerce-loop-product__author {
  font-size: 20px;
  line-height: 1.1;
  color: #01bcf1;
}
body.tax-product_cat ul.products li.product.type-product .product_infos_left .woocommerce-loop-product__description {
  font-size: 18px;
  line-height: 1.22;
}
body.tax-product_cat ul.products li.product.type-product .product_infos_right {
  border-top: solid 8px #f39200;
  background-image: linear-gradient(to bottom, #f9f2e8, #ffffff);
  padding: 34px 22px;
}
body.tax-product_cat ul.products li.product.type-product .product_infos_right .woocommerce-loop-product__cat {
  font-size: 20px;
  line-height: 1.2;
  color: #f39200;
}
body.tax-product_cat ul.products li.product.type-product .product_infos_right .woocommerce-loop-product__cat a:visited {
  color: #f39200;
}
body.tax-product_cat ul.products li.product.type-product .product_infos_right .woocommerce-loop-product__tag {
  font-size: 20px;
  line-height: 1.2;
}
body.tax-product_cat ul.products li.product.type-product .product_infos_right .price {
  margin: 10px 0;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.2;
  color: #f39200;
  display: block;
}
body.tax-product_cat ul.products li.product.type-product .product_infos_right .added_to_cart.wc-forward {
  display: none;
}
body.tax-product_cat .cat_description_bottom {
  background: url("../images/exclamation_icon.png") no-repeat 23px center rgba(243, 146, 0, 0.1);
  padding: 23px 23px 12px 103px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  font-size: 18px;
  line-height: 1.22;
  margin-bottom: 70px;
}
@media (max-width: 1023px) {
  body.tax-product_cat ul.products li.product.type-product .product_infos_left {
    text-align: center;
    padding-bottom: 0;
  }
  body.tax-product_cat ul.products li.product.type-product .product_infos_left img {
    width: 70%;
    margin: auto;
  }
  body.tax-product_cat ul.products li.product.type-product .product_infos_left h2.woocommerce-loop-product__title {
    text-align: center;
    margin-top: 18px;
  }
  body.tax-product_cat ul.products li.product.type-product .product_infos_right {
    padding-top: 0;
    padding-bottom: 50px;
    border-top: 0;
    background-image: linear-gradient(to top, #f9f2e8, #ffffff);
  }
  body.tax-product_cat .cat_description_bottom {
    margin-top: 41px;
    padding-bottom: 40px;
    margin-bottom: 40px;
    padding-left: 23px;
    padding-top: 104px;
    background-position: center 23px;
    text-align: center;
  }
}
body.woocommerce-cart button[name="update_cart"] {
  display: none;
}
body.woocommerce-cart .includes_tax {
  display: none;
}
body.woocommerce-cart ul.shop_table {
  margin: 0;
  padding: 0;
}
body.woocommerce-cart ul.shop_table li {
  position: relative;
}
body.woocommerce-cart ul.shop_table li > div {
  margin: 10px 0;
}
body.woocommerce-cart ul.shop_table li:hover {
  background-color: rgba(112, 112, 112, 0.05);
}
body.woocommerce-cart ul.shop_table li:hover .product-remove {
  display: block;
}
body.woocommerce-cart ul.shop_table li .product-thumbnail img {
  border: solid 6px rgba(112, 112, 112, 0.2);
}
body.woocommerce-cart ul.shop_table li .product-name p {
  margin: 0;
  font-size: 20px;
  line-height: 1.2;
  text-align: left;
}
body.woocommerce-cart ul.shop_table li .product-name p a {
  color: #707070;
}
body.woocommerce-cart ul.shop_table li .product-name p.product_title {
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
}
body.woocommerce-cart ul.shop_table li .product-quantity div.quantity_chooser .quantity_change {
  width: 30px;
  height: 30px;
  margin-right: 4px;
}
body.woocommerce-cart ul.shop_table li .product-quantity div.quantity_chooser .quantity_change.increase_quantity {
  padding-top: 1px;
}
body.woocommerce-cart ul.shop_table li .product-quantity div.quantity_chooser .quantity_number {
  margin-right: 4px;
  width: 30px;
  height: 30px;
  background-color: #707070;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.33;
  text-align: center;
}
body.woocommerce-cart ul.shop_table li .product-subtotal {
  font-size: 24px;
  line-height: 1.21;
  text-align: center;
}
body.woocommerce-cart ul.shop_table li .product-remove {
  display: none;
  background-color: rgba(112, 112, 112, 0.15);
  position: absolute;
  height: 100%;
  width: 58px;
  margin: 0;
  right: -58px;
  top: 0;
}
body.woocommerce-cart ul.shop_table li .product-remove a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}
body.woocommerce-cart ul.shop_table li .product-remove a img {
  top: 50%;
  left: 50%;
  margin-left: -9px;
  margin-top: -9px;
  position: absolute;
}
body.woocommerce-cart .cart-collaterals {
  border-top: solid 1px #ebebeb;
  margin-top: 22px;
  padding-top: 12px;
}
body.woocommerce-cart .cart-collaterals .shop_table {
  margin-bottom: 30px;
}
body.woocommerce-cart .cart-collaterals .order-total {
  color: #f39200;
  font-size: 24px;
  line-height: 1.21;
}
body.woocommerce-cart .cart-collaterals .order-total .cart_total_number {
  font-size: 30px;
  line-height: 1.23;
  font-weight: normal;
}
body.woocommerce-cart .cart-collaterals .order-total .cart_total_number strong {
  font-weight: normal;
}
body.woocommerce-cart .cart-collaterals .order-total .ttc {
  text-align: right;
}
body.woocommerce-cart .cart-collaterals .checkout-button {
  padding: 17px 63px;
  text-transform: none;
}
body.woocommerce-cart .cart-collaterals .checkout-button:after {
  width: 25px;
  height: 15px;
  content: "";
  position: absolute;
  background: url("../images/arrow-right.png") no-repeat left center;
  top: 50%;
  margin-top: -7px;
  right: 30px;
}
body.woocommerce-cart .cart-collaterals .free_shipping {
  opacity: 0.5;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.2;
  text-align: center;
  margin-top: 17px;
}
@media (max-width: 1024px) {
  body.woocommerce-cart ul.shop_table li .product-remove {
    display: block;
    position: absolute;
    height: 50px;
  }
  body.woocommerce-cart .cart-collaterals .order-total .ttc {
    text-align: center;
  }
}
@media (max-width: 768px) {
  body.woocommerce-cart ul.shop_table li {
    text-align: center;
  }
  body.woocommerce-cart ul.shop_table li .product-thumbnail img {
    width: 30%;
  }
  body.woocommerce-cart ul.shop_table li .product-name p {
    text-align: center;
  }
  body.woocommerce-cart ul.shop_table li .product-remove {
    top: 10px;
    right: 10%;
  }
  body.woocommerce-cart .cart-collaterals .checkout-button {
    padding-left: 20px;
    padding-right: 70px;
  }
}
@media (max-width: 500px) {
  body.woocommerce-cart ul.shop_table li .product-thumbnail img {
    width: 50%;
  }
}
body.woocommerce-checkout h1 {
  padding-bottom: 15px;
  border-bottom: solid 1px #dddddd;
}
body.woocommerce-checkout h3 {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
  color: #f39200;
}
body.woocommerce-checkout h4 {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.2;
  margin-top: 14px;
  color: #707070;
}
body.woocommerce-checkout #children_schoolcity_field {
  margin-bottom: 0;
}
body.woocommerce-checkout p.form_notice {
  font-size: 0.8em;
  color: #b1b1b1;
  margin-top: 10px;
  margin-bottom: 0;
}
body.woocommerce-checkout .woocommerce-terms-and-conditions {
  margin-bottom: 10px;
}
body.woocommerce-checkout .school_recap {
  display: none;
}
body.woocommerce-checkout .school_recap p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.17;
  color: #f39200;
  margin: 0;
}
body.woocommerce-checkout .school_recap p.name {
  font-weight: bold;
}
body.woocommerce-checkout .sidebar_order_review {
  padding-top: 100px;
  background: #f7f7f7;
  padding-bottom: 20px;
}
body.woocommerce-checkout .sidebar_order_review h3 {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.21;
  color: #707070;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 11px;
}
body.woocommerce-checkout .sidebar_order_review .product_desc {
  margin-bottom: 35px;
}
body.woocommerce-checkout .sidebar_order_review .product_desc .product-thumbnail img {
  border: solid 6px rgba(112, 112, 112, 0.2);
}
body.woocommerce-checkout .sidebar_order_review .product_desc p {
  color: #707070;
  line-height: 1.2;
  font-size: 20px;
  margin: 0;
}
body.woocommerce-checkout .sidebar_order_review .product_desc p.product_title {
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
}
body.woocommerce-checkout .sidebar_order_review .product_desc p.product_quantity {
  font-size: 18px;
  line-height: 1.61;
}
body.woocommerce-checkout .sidebar_order_review .product_desc p.product_price {
  font-size: 24px;
  line-height: 1.21;
}
body.woocommerce-checkout .sidebar_order_review .cart_amount hr {
  background: rgba(112, 112, 112, 0.25);
  height: 1px;
  width: 100%;
  display: block;
  margin: 0;
  margin-bottom: 16px;
}
body.woocommerce-checkout .sidebar_order_review .cart_amount > div {
  margin: 5px 0;
  font-size: 18px;
  line-height: 1.22;
}
body.woocommerce-checkout .sidebar_order_review .cart_amount .cart_subtotals .tax_label {
  display: none;
}
body.woocommerce-checkout .sidebar_order_review .cart_amount .cart_total {
  font-size: 24px;
  line-height: 1.21;
  color: #f39200;
}
body.woocommerce-checkout .sidebar_order_review .cart_amount .cart_total .includes_tax {
  display: none;
}
body.woocommerce-checkout .sidebar_order_review .cart_amount .cart_total .amount {
  font-size: 30px;
  line-height: 1.23;
}
body.woocommerce-checkout .sidebar_order_review .school_recap {
  margin-top: 55px;
  display: block;
}
body.woocommerce-checkout .sidebar_order_review .school_recap h3 {
  padding-bottom: 18px;
  margin-bottom: 18px;
}
body.woocommerce-checkout #payment .place-order {
  padding-bottom: 40px;
}
body.woocommerce-checkout #payment ul.wc_payment_methods.payment_methods.methods {
  border-top: solid 1px #eaeaea;
  margin: 0;
  padding: 0;
  margin-top: 27px;
  padding-top: 27px;
  text-align: center;
}
body.woocommerce-checkout #payment ul.wc_payment_methods.payment_methods.methods li.wc_payment_method.payment_method_payzenstd {
  list-style-type: none;
}
body.woocommerce-checkout #payment ul.wc_payment_methods.payment_methods.methods li.wc_payment_method.payment_method_payzenstd label {
  display: block;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
body.woocommerce-checkout #payment ul.wc_payment_methods.payment_methods.methods li.wc_payment_method.payment_method_payzenstd label img {
  display: none;
}
body.woocommerce-checkout #payment .woocommerce-privacy-policy-text {
  display: none;
}
body.woocommerce-checkout #payment button.pay-order {
  margin: auto;
}
body.woocommerce-checkout #payment button.pay-order:after {
  content: "";
  width: 16px;
  height: 6px;
  position: relative;
  background: url("../images/arrow-right.png") no-repeat left center;
  background-size: 60%;
  top: -2px;
  display: inline-block;
  margin-left: 9px;
}
body.woocommerce-checkout .payzen-iframe {
  width: 100%;
  height: 500px;
  border: none;
  padding: 10px;
  background: whitesmoke;
}
body.woocommerce-checkout ul.woocommerce-order-overview {
  margin-left: 0;
  padding-left: 20px;
}
body.woocommerce-checkout .woocommerce-customer-details p {
  margin-bottom: 0;
}
@media (max-width: 1024px) {
  body.woocommerce-checkout .see_order_review {
    display: block;
    margin-top: 10px;
  }
  body.woocommerce-checkout .sidebar_order_review {
    padding-top: 20px;
  }
  body.woocommerce-checkout .sidebar_order_review h3 {
    margin-bottom: 30px;
  }
}
body.simple-page h2 {
  width: 100%;
  display: block;
  text-align: left;
  margin-bottom: 10px;
}
body.page-template-template-contact header.page-header {
  margin: 50px 0;
}
body.page-template-template-contact h1,
body.page-template-template-contact h2 {
  width: 70%;
}
body.page-template-template-contact .infos div {
  padding-left: 40px;
  position: relative;
  margin-top: 30px;
}
body.page-template-template-contact .infos div:before {
  content: "";
  background: url("../images/icon_page_contact.png") no-repeat;
  display: block;
  position: absolute;
  left: 0;
}
body.page-template-template-contact .infos div.adresse:before {
  width: 18px;
  height: 25px;
}
body.page-template-template-contact .infos div.telephone:before {
  width: 20px;
  height: 21px;
  background-position: -18px 0;
}
body.page-template-template-contact .infos div.email:before {
  width: 20px;
  height: 14px;
  background-position: -38px 0;
}
body.page-template-template-contact .infos div p {
  color: #f39200;
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
}
body.page-template-template-contact .infos div p.black {
  color: #707070;
}
body.page-template-template-contact .alert {
  padding-left: 0;
}
body.page-template-template-contact .alert ul {
  margin-left: 0;
  margin-bottom: 0;
}
body.page-template-template-contact .form .btn[type="submit"] {
  width: 100%;
}
body.page-template-template-contact .faq_title {
  margin-top: 60px;
  margin-bottom: 50px;
}
body.page-template-template-contact .faq_title span.info {
  margin: auto;
  background: url("../images/icon_info.png") no-repeat center center;
  width: 33px;
  height: 33px;
  display: block;
  position: relative;
  margin-bottom: 24px;
}
body.page-template-template-contact .faq_title span.info:before,
body.page-template-template-contact .faq_title span.info:after {
  content: "";
  display: block;
  position: absolute;
  width: 33px;
  height: 1px;
  background: #707070;
  top: 50%;
}
body.page-template-template-contact .faq_title span.info:before {
  left: -53px;
}
body.page-template-template-contact .faq_title span.info:after {
  left: 53px;
}
body.page-template-template-contact .faq_cont {
  background: #f7f7f7;
  margin-top: 81px;
}
body.page-template-template-contact .faq_cont .question {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: rgba(243, 146, 0, 0.1);
  padding: 32px 56px 27px 103px;
  margin-bottom: 40px;
}
body.page-template-template-contact .faq_cont .question strong {
  color: #f39200;
}
body.page-template-template-contact .faq_cont .question h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 0.92;
  position: relative;
  color: #f39200;
  margin-bottom: 30px;
}
body.page-template-template-contact .faq_cont .question h3:before {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  left: -75px;
  background: url("../images/question.png") no-repeat left center;
}
body.page-template-template-contact .faq_cont .question .answer {
  font-size: 18px;
  line-height: 1.22;
  color: #707070;
}
@media only screen and (max-width: 1024px) {
  body.page-template-template-contact .infos a {
    display: block;
    text-align: center;
  }
  body.page-template-template-contact .infos a img {
    margin: auto;
    margin-top: 25px;
  }
  body.page-template-template-contact .infos div {
    text-align: center;
    margin-bottom: 30px;
    padding-left: 0;
  }
  body.page-template-template-contact .infos div:before {
    left: auto;
    margin: auto;
    margin-bottom: 10px;
    position: relative;
  }
  body.page-template-template-contact .faq_cont {
    margin-top: 30px;
  }
  body.page-template-template-contact .faq_cont .faq_title {
    margin-top: 30px;
  }
  body.page-template-template-contact .faq_cont .question {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 100px;
  }
  body.page-template-template-contact .faq_cont .question h3:before {
    background-position: center center;
    left: 0;
    right: 0;
    margin: auto;
    top: -70px;
  }
}
@media only screen and (min-width: 1024px) {
  body.page-template-template-contact .form {
    padding-left: 80px;
  }
}
div.modal#modalShopInactive .modal-dialog .modal-content .content p {
  margin-bottom: 10px;
}
div.modal .modal-dialog .modal-content {
  border-radius: 0;
  border: solid 10px rgba(1, 188, 241, 0.2);
}
div.modal .modal-dialog .modal-content .modal-header {
  border-radius: 0;
  background: #01bcf1;
}
div.modal .modal-dialog .modal-content .modal-header h5.modal-title {
  color: #fff;
  font-size: 30px;
  line-height: 1.23;
  margin: auto;
  display: block;
}
div.modal .modal-dialog .modal-content .modal-body {
  overflow: hidden;
}
div.modal .modal-dialog .modal-content .modal-body .image {
  overflow: hidden;
}
div.modal .modal-dialog .modal-content .modal-body .image img {
  border: solid 6px rgba(112, 112, 112, 0.2);
  height: auto;
  overflow: hidden;
}
div.modal .modal-dialog .modal-content .modal-body .content p {
  margin: 0;
  font-size: 20px;
  line-height: 1.2;
  color: #707070;
  text-align: left;
}
div.modal .modal-dialog .modal-content .modal-body .content p.product_title {
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
}
div.modal .modal-dialog .modal-content .modal-body .content p.product_cat a,
div.modal .modal-dialog .modal-content .modal-body .content p.product_cat:visited,
div.modal .modal-dialog .modal-content .modal-body .content p.product_cat:hover {
  color: #707070;
  text-decoration: none;
}
div.modal .modal-dialog .modal-content .modal-footer {
  border-radius: 0;
  background: #f7f7f7;
  padding: 28px 52px;
  border: none;
}
div.modal .modal-dialog .modal-content .modal-footer > .row {
  margin: auto;
  width: 100%;
}
div.modal .modal-dialog .modal-content .modal-footer > .row .btn {
  text-transform: none;
  margin: 0 auto;
  height: 100%;
  line-height: 26px;
}
div.modal .modal-dialog .modal-content .modal-footer > .row .btn.return {
  background-color: rgba(112, 112, 112, 0.2);
  font-size: 18px;
  font-weight: 300;
  line-height: 1.17;
  color: #004c64;
  padding-left: 50px;
  border: none;
  position: relative;
  padding-top: 20px;
}
div.modal .modal-dialog .modal-content .modal-footer > .row .btn.return:before {
  width: 22px;
  height: 22px;
  content: "";
  position: absolute;
  background: url("../images/arrow-back-blue.png") no-repeat left center;
  margin-left: -32px;
  margin-top: -3px;
}
.modal-backdrop {
  background: #004c64;
}
.modal-backdrop.show {
  opacity: .9;
}
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 795px;
  }
}
@media (max-width: 1023px) {
  div.modal .modal-dialog .modal-content .modal-body .image img {
    width: 70%;
  }
  div.modal .modal-dialog .modal-content .modal-body .content p {
    text-align: center;
  }
  div.modal .modal-dialog .modal-content .modal-footer {
    padding-left: 0;
    padding-right: 0;
  }
  div.modal .modal-dialog .modal-content .modal-footer > .row a.btn {
    margin-top: 30px;
    height: auto;
  }
}
a {
  color: #f39200;
}
a:visited,
a:hover {
  color: #f39200;
}
h1,
h2 {
  color: #f39200;
  font-size: 30px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  width: 38%;
  margin: auto;
  margin-top: 10px;
}
h1 span,
h2 span {
  font-weight: 300;
  color: #533f29;
  display: block;
  font-size: 16px;
  line-height: 22px;
  margin: auto;
}
h1 span:before,
h2 span:before {
  content: "";
  position: relative;
  display: block;
  width: 40px;
  border-top: solid 2px #707070;
  left: 0;
  right: 0;
  margin: 20px auto;
}
h1.single,
h2.single {
  padding: 0;
  padding-bottom: 15px;
  border-bottom: solid 1px #dddddd;
  text-align: left;
  margin: 20px 0;
  font-size: 30px;
  font-weight: 300;
  font-stretch: normal;
  line-height: 1.2;
  color: #707070;
  width: 100%;
}
form label {
  display: none;
}
form label.checkbox {
  display: block;
  margin: auto;
}
form .form-control:focus {
  border-color: #f39200;
  box-shadow: 0 0 0 0.1rem rgba(243, 146, 0, 0.25);
}
form ::placeholder {
  color: rgba(110, 110, 110, 0.3) !important;
}
form ::-webkit-input-placeholder {
  color: rgba(110, 110, 110, 0.3) !important;
}
form ::-moz-placeholder {
  color: rgba(110, 110, 110, 0.3) !important;
}
form :-ms-input-placeholder {
  color: rgba(110, 110, 110, 0.3) !important;
}
form :-moz-placeholder {
  color: rgba(110, 110, 110, 0.3) !important;
}
form .woocommerce-input-wrapper {
  display: block;
  width: 100%;
}
form .form-group {
  width: 100%;
}
form #clear_selection {
  float: right;
  font-size: 15px;
  margin-top: 5px;
  cursor: pointer;
}
form #clear_selection:hover {
  color: #f39200;
}
form .form-control {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: #fbfbfb;
  border: solid 1px #dfdfdf;
  padding: 17px;
  height: 100%;
}
form .form-row.woocommerce-invalid:not(#children_schoolcity_field):not(#children_schoolcp_field) input.input-text,
form .form-row.woocommerce-invalid:not(#children_schoolcity_field):not(#children_schoolcp_field) span.select2-selection {
  box-shadow: none;
  background-color: #fff4f4;
  border: solid 1px #ffc5c5;
}
form .form-row.woocommerce-invalid:not(#children_schoolcity_field):not(#children_schoolcp_field) span.woocommerce-terms-and-conditions-checkbox-text {
  color: #dc3545;
}
form .form-row.woocommerce-validated:not(#children_schoolcity_field):not(#children_schoolcp_field) input.input-text,
form .form-row.woocommerce-validated:not(#children_schoolcity_field):not(#children_schoolcp_field) span.select2-selection {
  box-shadow: none;
  background-color: #f2fafe;
  border: solid 1px #cef1fb;
}
form .form-row.woocommerce-validated:not(#children_schoolcity_field):not(#children_schoolcp_field) span.woocommerce-terms-and-conditions-checkbox-text {
  color: #28a745;
}
form .select2-container .select2-selection,
form .select2-selection__arrow {
  background-color: #fbfbfb;
  height: 53px;
  border: solid 1px #dfdfdf;
}
form .select2-container .select2-selection .select2-selection__rendered,
form .select2-selection__arrow .select2-selection__rendered {
  line-height: 50px;
}
form .select2-container .select2-selection.select2-selection__arrow,
form .select2-selection__arrow.select2-selection__arrow {
  background: transparent;
  border: none;
  top: 50% !important;
  margin-top: -13px;
}
form .woocommerce-terms-and-conditions-wrapper {
  margin-top: 10px;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
.relative {
  position: relative;
}
.btn {
  text-transform: uppercase;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  margin-top: 20px;
  font-weight: 600;
  line-height: 1.2;
  padding: 13px 28px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  position: relative;
  text-align: center;
}
.btn:visited,
.btn:hover,
.btn:active,
.btn:focus {
  color: #fff;
}
.btn.lowercase {
  text-transform: none;
}
.btn.blue {
  background: #01bcf1;
}
.btn.orange {
  background: #f39200;
}
.btn.add_to_cart_button:before {
  content: "";
  width: 17px;
  height: 17px;
  position: relative;
  background: url("../images/cart-full.png") no-repeat left center;
  background-size: 100%;
  margin-top: 2px;
  display: inline-block;
  margin-right: 9px;
}
ul.shopping_breadcrumb {
  font-size: 16px;
  line-height: 1.19;
  color: rgba(112, 112, 112, 0.5);
  margin: 0;
  padding: 0;
  margin-top: 50px;
}
ul.shopping_breadcrumb li {
  display: inline-block;
}
ul.shopping_breadcrumb li a {
  color: rgba(112, 112, 112, 0.5);
}
ul.shopping_breadcrumb li a:hover {
  color: #f39200;
}
ul.shopping_breadcrumb li.active {
  color: #f39200;
}
ul.shopping_breadcrumb li.active a {
  color: #f39200;
}
ul.shopping_breadcrumb li span {
  color: rgba(112, 112, 112, 0.5);
  display: inline-block;
  margin: 0 20px;
}
ul.woocommerce-error {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
  width: 100%;
}
ul.woocommerce-error li {
  list-style-type: disc;
  display: list-item;
  padding: 5px 10px;
  margin: 0;
  margin-left: 30px;
}
ul.woocommerce-error li.alone {
  list-style-type: none;
  margin-left: 0;
}
ul.woocommerce-error li .button.wc-forward {
  display: inline-block;
  background: #fdc0c5;
  border: solid 1px #fba9af;
  padding: 5px 10px;
  color: #721c24;
}
ul.woocommerce-error li .button.wc-forward:hover {
  text-decoration: none;
  background: #fba9af;
  border-color: #fff;
}
div.woocommerce-info {
  padding: 10px;
  background: #28a745;
  color: #fff;
}
a.tooltip_icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url("../images/tooltip_helper.png") no-repeat left center;
  vertical-align: middle;
  margin-left: 10px;
  margin-top: -5px;
}
.tooltip.show {
  opacity: 1;
}
.tooltip.bs-tooltip-top .arrow:before,
.tooltip.bs-tooltip-bottom .arrow:before {
  border-top-color: #fff;
  border-bottom-color: #fff;
}
.tooltip.bs-tooltip-left .arrow:before,
.tooltip.bs-tooltip-right .arrow:before {
  border-right-color: #fff;
  border-left-color: #fff;
}
.tooltip .tooltip-inner {
  max-width: 460px;
  background: #fff;
  color: #707070;
  box-shadow: 0 5px 30px 0 rgba(69, 91, 99, 0.15);
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  padding: 24px 37px;
  text-align: left;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.19;
}
.tooltip .tooltip-inner a {
  color: #f39200;
}
.continue_shopping {
  margin-left: 30px;
}
.continue_shopping a {
  color: #fff;
  position: relative;
  padding-left: 43px;
  margin-top: 27px;
  display: block;
}
.continue_shopping a:before {
  width: 22px;
  height: 22px;
  content: "";
  position: absolute;
  background: url("../images/arrow-back.png") no-repeat left center;
  left: 0;
  top: -2px;
}
div.quantity_chooser .quantity_change {
  vertical-align: middle;
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #d9d3ca;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  color: #fff;
  padding: 0;
  font-weight: bold;
  font-size: 30px;
}
div.quantity_chooser .quantity_change.increase_quantity {
  padding-top: 4px;
}
div.quantity_chooser .quantity_number {
  vertical-align: middle;
  color: #fff;
  background: #f39200;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  padding: 0;
  font-size: 21px;
  line-height: 1.33;
  font-weight: bold;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding-top: 6px;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.19;
  color: #707070;
}
body header .site-branding {
  height: 76px;
  background: #01bcf1;
  color: #fff;
}
body header .site-branding .logo_sedrap,
body header .site-branding .social {
  margin-top: 24px;
}
body header .site-branding .logo_sedrap {
  padding-left: 20px;
}
body header .site-branding .logo_moijelis {
  margin-top: 10px;
}
body header .site-branding .social {
  padding-right: 20px;
}
body header .site-branding .social a {
  display: inline-block;
}
body header .site-branding .social a svg {
  width: 30px;
  height: 30px;
  display: block;
}
body header .site-branding .social a svg path {
  fill: #fff !important;
}
body header .menu-toggle {
  background: none;
  border: 0;
  font-size: 25px;
  line-height: 1.48;
  color: #ffffff;
  position: relative;
  padding-left: 35px;
  margin-top: 25px;
}
body header .menu-toggle:focus {
  outline: none;
}
body header .menu-toggle span {
  font-size: 35px;
  vertical-align: middle;
  display: block;
  position: absolute;
  left: 0;
}
body header nav {
  height: 76px;
  background: #10779e;
  color: #fff;
}
body header nav ul {
  margin-top: 41px;
  list-style-type: none;
}
body header nav ul li {
  list-style-type: none;
  display: inline-block;
  margin-left: 20px;
  text-transform: uppercase;
}
body header nav ul li:first-child .sep {
  display: none;
}
body header nav ul li.current_page_item a,
body header nav ul li.current-menu-item a,
body header nav ul li.current_page_item a:visited,
body header nav ul li.current-menu-item a:visited,
body header nav ul li.current_page_item a:hover,
body header nav ul li.current-menu-item a:hover {
  color: #01bcf1;
}
body header nav ul li a {
  color: #fff;
  font-size: 16px;
  line-height: 16px;
}
body header nav ul li a:hover {
  color: #01bcf1;
  text-decoration: none;
}
body header nav ul li a:hover:visited {
  color: #01bcf1;
}
body header nav ul li a:visited {
  color: #fff;
}
body header nav ul li .sep {
  margin-right: 20px;
}
body header nav .cart_icon {
  margin-top: 23px;
  padding-right: 25px;
  position: relative;
}
body header nav .cart_icon .cart_count {
  display: block;
  width: 23px;
  height: 23px;
  background: #f39200;
  color: #fff;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.59;
  text-align: center;
  position: absolute;
  bottom: 21px;
  right: 15px;
  top: 19px;
}
body footer {
  background: #004c64;
  padding-top: 43px;
  color: #65b2cf;
}
body footer h3 {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  line-height: 0.7;
}
body footer h3:after {
  content: "";
  position: relative;
  display: block;
  width: 40px;
  border-top: solid 2px #65b2cf;
  left: 0;
  right: 0;
  margin: 20px auto;
}
body footer h3 span {
  text-transform: uppercase;
  font-weight: 300;
  color: #65b2cf;
  display: block;
  font-size: 18px;
  line-height: 1.17;
  margin-bottom: 3px;
}
body footer p {
  font-size: 18px;
  line-height: 1.17;
  color: #92d5ee;
}
body footer p.important {
  font-size: 18px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;
}
body footer .company_infos {
  padding-bottom: 48px;
  margin: auto;
  width: 100%;
}
body footer .footer_menu {
  background: #10779e;
  width: 100%;
  padding: 25px 0;
}
body footer .footer_menu #menu-footer {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
body footer .footer_menu #menu-footer li {
  list-style-type: none;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  color: #ffffff;
}
body footer .footer_menu #menu-footer li:first-child .sep {
  display: none;
}
body footer .footer_menu #menu-footer li a,
body footer .footer_menu #menu-footer li a:visited {
  font-size: 18px;
  line-height: 1.44;
  color: #ffffff;
}
body footer .footer_menu #menu-footer li .sep {
  margin-right: 20px;
}
body footer .legal_infos {
  width: 100%;
  padding: 20px 0;
}
body footer .legal_infos p {
  font-size: 18px;
  line-height: 1.44;
  color: #65b2cf;
  margin-bottom: 2px;
}
body footer .legal_infos p a,
body footer .legal_infos p a:visited {
  color: #65b2cf;
}
body footer .legal_infos .social {
  margin: 10px 0;
}
body footer .legal_infos .social a {
  display: inline-block;
  margin: 0 5px;
}
body footer .legal_infos .social a svg {
  width: 30px;
  height: 30px;
  display: block;
}
body .categories_list {
  margin: auto;
  width: fit-content;
  margin-top: 20px;
  margin-bottom: 45px;
}
body .categories_list .category_box {
  width: 278px;
  max-width: 278px;
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-image: linear-gradient(to bottom, #f3f3f3, #fff);
  border-top: solid 8px #01bcf1;
  font-size: 20px;
  line-height: 1.1;
  margin: 0 4px;
  display: inline-block;
}
body .categories_list .category_box img {
  display: block;
  margin: auto;
  margin-top: 23px;
  width: 100%;
}
body .categories_list .category_box span {
  display: block;
  margin: 3px 0;
}
body .categories_list .category_box span.title {
  color: #01bcf1;
}
body .categories_list .category_box span.desc {
  color: #707070;
}
body .categories_list .category_box span.woocommerce-Price-amount {
  color: #f39200;
  font-size: 24px;
  font-weight: bold;
  line-height: 0.92;
}
body .categories_list .category_box span.woocommerce-Price-currencySymbol {
  display: inline-block;
}
@media (max-width: 1024px) {
  body h1,
  body h2 {
    width: 100% !important;
  }
  body h1 span,
  body h2 span {
    width: 90% !important;
  }
  body .no-padding-mobile {
    padding: 0;
  }
  body .continue_shopping {
    margin-top: 20px;
    margin-left: 0;
  }
  body .continue_shopping a {
    padding-left: 33px;
  }
  body .tooltip .tooltip-inner {
    width: 90%;
    padding: 24px 20px;
    margin: auto;
  }
  body ul.shopping_breadcrumb {
    margin-top: 20px;
  }
  body ul.shopping_breadcrumb li {
    margin-bottom: 5px;
  }
  body ul.shopping_breadcrumb li span {
    margin: 0 5px;
  }
  body form #clear_selection {
    float: none;
    display: block;
  }
  body header #site-navigation {
    height: 93px;
  }
  body header #site-navigation .menu_cont {
    position: absolute;
    top: 100%;
  }
  body header #site-navigation .menu_cont ul {
    position: fixed;
    background: #004c64;
    width: 100%;
    left: 0;
    margin: 0;
    height: 0;
    z-index: 9999;
    padding: 0;
    overflow: hidden;
    -moz-transition: height 0.3s ease;
    -webkit-transition: height 0.3s ease;
    -o-transition: height 0.3s ease;
    transition: height 0.3s ease;
  }
  body header #site-navigation .menu_cont ul li {
    font-size: 28px;
    font-weight: 300;
    line-height: 1.8;
    text-align: center;
    color: #ffffff;
    display: block;
    padding-left: 0;
    margin-left: 0;
  }
  body header #site-navigation .menu_cont ul li:first-child {
    margin-top: 30px;
  }
  body header #site-navigation .menu_cont ul li .sep {
    display: none;
  }
  body header #site-navigation .menu_cont ul.open {
    height: 100%;
  }
  body header #site-navigation .cart_icon {
    margin-top: 40px;
  }
  body .btn {
    font-size: 14px;
  }
  body .categories_list .category_box {
    float: none;
    padding-bottom: 30px;
    width: auto;
  }
  body footer .company_infos {
    padding-bottom: 20px;
  }
}
@media (max-width: 1024px) and (max-height: 568px) {
  body header #site-navigation .menu_cont ul li {
    font-size: 20px;
  }
  body header #site-navigation .menu_cont ul li:first-child {
    margin-top: 10px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1440px;
  }
}
